<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid", role="navigation">

    <%= link_to 'Job Board', jobs_path, class:"navbar-brand"%>
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Premium', root_path, class:"nav-link active"%>
        </li>
       <li class="nav-item">
          <%= link_to 'Create a Job!', new_job_path, class:"nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Time', ola_mundo_path, class:"nav-link active"%>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>